# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.CatSimulation.git.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\CatSimulation.git\.idea\.idea.CatSimulation.git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
